<!DOCTYPE HTML>

<html>
	<head>
		<title>차량 인식 시스템 소개</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		  <link rel="shortcut icon" href="static/img/favicon.ico">

	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro"><p style="font-size:1.5em">반갑습니다.</p></a></li>
							<li><a href="#one"><p style="font-size:1.5em">시스템 핵심 기술</p></a></li>
							<li><a href="#two"><p style="font-size:1.5em">개발자</p></a></li>
							<li><a href="#three"><p style="font-size:1.5em">시작하기</p></a></li>
							<li><a href="javascript:history.back();"><p style="font-size:1.5em">이전페이지</p></a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<p style="color: white; font-size:3em">환영합니다.</p>
							<p style="color: white; font-size:1.5em"><span style="color: pink;">Team_MLD</span>에서 제작한 차량과 차종을 인식하는 프로그램을 소개하겠습니다.</p>
							<p style="color: white; font-size:1.5em">차량을 인식하여 어떤 것을 할 수 있고, 어느 것이 가능한지 보여드리겠습니다.</p>
							<ul class="actions">
								<li><a href="#one" class="button scrolly">다음</a></li>
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a class="image-fit"><img src="static/img/pic03.jpg" alt="" data-position="top center" style="width: auto; height: 330px;"></a>
							<div class="content">
								<div class="inner">
									<p style="color: white; font-size:3em">딥러닝 기술</p>
									<p style="color: white; font-size:1.5em">YOLO의 딥러닝 기술로 차량 및 차종을 인식하여 정보를 인식하여 추출해냅니다.</p>
								</div>
							</div>
						</section>
<section>
	<!-- 슬라이드 시작 -->
		<div id="myCarousel" class="carousel slide" data-ride="carousel"> 
	
	<!--페이지-->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<!--페이지-->

	<div class="carousel-inner">
		<!--슬라이드1-->
		<div class="item active" style = "padding: 100px 150px 0px 150px;"> 
			<p style="color: pink; font-size:2em">YOLO</p>
			<p style="color: white;"></span>YOLO는 훌륭한 개발자들이 개발한 Tensorflow, Caffe, Darknet 등의 딥러닝 오픈소스 프레임워크이다. YOLO는 사물 인식에 많이 사용되었으며, 그중 우리는 차량과 차번을 인식하는데 필요한 기술이라 생각하여 사용하기로 하였습니다. </p>
		</div>
		<!--슬라이드1-->

		<!--슬라이드2-->
		<div class="item" style = "padding: 100px 150px 0px 150px;"> 
			<p style="color: pink; font-size:2em">웹 카메라와 IP 카메라 및 동작</p>
			<p style="color: white;"></span>YOLO를 통해 차량 및 차종을 인식할수 있도록 학습시킵니다. 샘플 데이터들을 하나하나 매핑하여 컴퓨터를 학습시킨뒤 그후 카메라를 통해 실시간으로 움직이는 차량에 대해 차종과 차번을 인식하여 실시간으로 데이터를 얻어냅니다.</p>
		</div>

		<!--슬라이드2-->
		
		<!--슬라이드3-->
		<div class="item" style = "padding: 100px 150px 0px 150px;"> 
			<p style="color: pink; font-size:2em">3번째는 무엇을 쓸까요..(없음 뺍시다)</p>
			<p style="color: white;"></span>YOLO는 딥러닝 기술로서 차량인식으 ㄹ하기위해 사용했습니다.기술로서 차량인식으 ㄹ하기위해 사용했습니다.기술로서 차량인식으 ㄹ하기위해 사용했습니다.기술로서 차량인식으 ㄹ하기위해 사용했습니다.기술로서 차량인식으 ㄹ하기위해 사용했습니다.기술로서 차량인식으 ㄹ하기위해 사용했습니다.기술로서 차량인식으 ㄹ하기위해 사용했습니다.</p>
		</div>
		<!--슬라이드3-->
		<!--슬라이드3-->
	</div>
	
	<!--이전, 다음 버튼-->
	<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> 
	<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> 
		</div>
		<!-- 슬라이드 종료 -->
</section>
						<section>
							<a href="web.html" class="image"><img src="static/img/pic01.jpg" alt="" data-position="top center" style="width: auto; height: 330px;"></a>
							<div class="content">
								<div class="inner">
									<p style="color: white; font-size:3em">웹 서버</p>
									<p style="color: white; font-size:1.5em">Flask 기반의 웹서버를 통한 접속</p>
								</div>
							</div>
						</section>
<section>
	<!-- 슬라이드 시작 -->
		<div id="myCarousel2" class="carousel slide" data-ride="carousel"> 
	
	<!--페이지-->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel2" data-slide-to="1"></li>
		<li data-target="#myCarousel2" data-slide-to="2"></li>
	</ol>
	<!--페이지-->

	<div class="carousel-inner">
		<!--슬라이드1-->
		<div class="item active" style = "padding: 100px 150px 0px 150px;"> 
			<p style="color: pink; font-size:2em">Flask</p>
			<p style="color: white;"></span>플라스크(Flask)는 파이썬으로 작성된 마이크로 웹 프레임워크의 하나로 웹서버를 제작하는데 사용이 되었습니다. 특히 웹 서버단에서 계정관리를 하기위해 세션처리를 해주는 경우, 또는 비 정상적 접속을 막기 위해 사용하였습니다.</p>
		</div>
		<!--슬라이드1-->

		<!--슬라이드2-->
		<div class="item" style = "padding: 100px 150px 0px 150px;"> 
			<p style="color: pink; font-size:2em">Bootstrap 과 도식화 데이터</p>
			<p style="color: white;"></span>Bootstrap을 통해 비 반응형이 아닌 사용자와의 반응형 웹 템플릿 제작을 하였으며, GoogleChart, KakaoMap과 같은 정보 표시가 가능한 스크립트를 가져와서 인식된 차량의 정보를 종합적으로 최근 1주일 또는 금일 검거율 등을 그래프로 표시 및 검거 지역 비율을 도식화하여 보기 편하게 만들었습니다.</p>
		</div>

		<!--슬라이드2-->
		
		<!--슬라이드3-->
		<div class="item" style = "padding: 100px 150px 0px 150px;"> 
			<p style="color: pink; font-size:2em">MySQL 데이터 베이스</p>
			<p style="color: white;"></span>데이터 베이스는 딥 러닝과 공통되는 부분으로서 딥 러닝 부분에서는 데이터인 차량과 차번을 인식하여 데이터 베이스에 넣으며, 넣은 데이터 베이스를 각종 쿼리문(조건문)을 통하여 원하는 값들을 추출하여 사용자에게 보기좋은 테이블 형태로 제공합니다.</p>
		</div>
		<!--슬라이드3-->
		<!--슬라이드3-->
	</div>
	
	<!--이전, 다음 버튼-->
	<a class="left carousel-control" href="#myCarousel2" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> 
	<a class="right carousel-control" href="#myCarousel2" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> 
		</div>
		<!-- 슬라이드 종료 -->
</section>


					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2 style="color: white;">Team_MLD</h2>
							<p style="color: white;">천안 아산의 선문대학교 종합설계프로젝트 수업시간에 만들어진 팀으로 팀과의 협업 및 역활 배분을 확실히하여 프로젝트를 시작으로 맞은 역활에 최선을 다하여 프로젝트를 진행하였습니다.</p>
							<div class="features">
								<section>
									<span class="icon major fa-code"></span>
									<h3 style="color: white;">전현무 - 팀장</h3>
									<p style="color: white;">MLD팀의 팀장으로서 리더십있게 팀원을 이끌며 팀의 전체적인 분위기 총괄<br>이길우 팀원과 딥러닝 파트 담당</p>
								</section>
								<section>
									<span class="icon major fa-lock"></span>
									<h3 style="color: white;">이길우 - 딥러닝</h3>
									<p style="color: white;">딥러닝 파트에서 웹카메라 및 IP카메라로 부터 인식이 되도록 작성. (추가적으로 기입 부탁)</p>
								</section>
								<section>
									<span class="icon major fa-cog"></span>
									<h3 style="color: white;">정병철 - 웹서버</h3>
									<p style="color: white;">Flask를 통한웹 서버 개발 및 HTML, CSS, JS를 이용하여 웹 서버 개발 하였으며, 차트, 데이터 테이블을 통한 데이터 도식화</p>
								</section>
								<section>
									<span class="icon major fa-desktop"></span>
									<h3 style="color: white;">류충현 - ??</h3>
									<p style="color: white;">내용 작성해주세요</p>
								</section>
							</div>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2 style="color: white;">시작하기</h2>
							<img src="static/img/start.jpg" alt="" data-position="25% 25%" />
							<p style="color: white;">여기까지 Team_MLD에서 제작한 차량, 차종 인식 프로그램 입니다. 궁금한점이 더 있다면 <a style="color: pink;">terren_ghost@naver.com</a>으로 메일을 보내주시기 바랍니다.</p>
							
						
							<ul class="actions">
								<li><a href="javascript:history.back();" class="button">이전 페이지로 돌아가기</a></li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>