<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
		<!-- Header -->
        <header id="header" class="alt">
            <div class="logo"><a href="index.html">Transitive <span>by TEMPLATED</span></a></div>
            <a href="#menu" class="toggle"><span>Menu</span></a>
        </header>

		<!-- Nav -->
        <nav id="menu">
            <ul class="links">
                <li><a href="index.html">홈페이지</a></li>
                <li><a href="elements.html">실시간 화면</a></li>
                <li><a href="board.html">범죄 차량 조회</a></li>
                <li><a href="board.html">게시판</a></li>
                <li><a href="dev_login.html">관리자 페이지</a></li>

            </ul>
        </nav>
</body>
</html>