<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="w3-container">
        <p><br/></p>
        <table class="w3-table w3-bordered w3-striped">
            <thread>
                <tr class="w3-red">
                    <th>차량</th>
                    <th>상태</th>
                    <th>차종</th>
                </tr>
            </thread>
            <tbody id="mydata">
                <tr>
                    <td>[[GO_License_Plate]]</td>
                    <td>[[car_status_now]]</td>
                    <td>[[model_car]]</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>