*.o
*.dSYM
*.csv
*.out
*.png
!darknet-debug/camera-debug-values/demo/*.png
!darknet-debug/camera-debug-values/mld/*.png
!build/darknet/x64/data/labels/*.png
*.so
*.exe
mnist/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
!build/darknet/YoloWrapper.cs
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

/share

#TeamMLD#
.vs/
Release/
cudnn64_7.dll
*.iobj
*.ipdb
*.pdb
results/